*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header_container{
    position: sticky;
    background-color: rgba($color: black, $alpha: 0.5);
    .ads_container{
        background-color: $cube-grey;
        .ads{
            display: flex;
            max-width: 1200px;
            margin: 0 auto;
            justify-content: space-between;
            .ads_item{
                color: $median-dark-grey;
                padding: 1rem;
                span{
                    margin-left: 10px;
                }
            }
        }
    }
    .navbar{
        display: flex;
        max-width: 1200px;
        margin: 0 auto;
        padding: 2rem 0;
        align-items: center;
        column-gap: 4rem;
        .links{
            flex-grow: 2;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            a{
                text-decoration: none;
                color: $cube-white;
            }
        }
        .btn_nav{
            padding: 1rem 2rem;
            border-radius: 2rem;
            border: none;
            color: $cube-white;
            background-color: $median-green;
        }
    }
}

.jumbotron{
    margin-top: calc(-144px);
    height: 700px;
    background-image: url('@/assets/img/homepage-hero-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    .jumbo_text{
        max-width: 1200px;
        margin: 0 auto;
        color: $cube-white;
        h2{
            font-size: 4rem;
            padding-top: 400px;
        }
        p{
            padding-top: 1rem;
            font-size: 2rem;
        }
    }
}
.sign-up{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    .sign-up_info{
        margin-top: 4rem;
        width: 50%;
        h3{
            color: $cube-grey;
            font-size: 3rem;
        }
        p{
            margin-top: 2rem;
            color: $median-dark-grey;
            font-size: 1.5rem;
        }
        .small_text{
            font-size: 16px;
        }
    }
    .sign-up_form{
        border-radius: 2rem;
        padding: 3rem;
        display: flex;
        flex-direction: column;
        box-shadow: 10px 10px;
        .form{
            margin-top: 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 1rem;
            input{
                padding: 1rem;
                width: 100%;
                border-radius: 1rem;
            }
        }
    }
}