$cube-white: #ffffff;
$cube-grey: #484848;
$cube-green: #79b27b;
$cube-black: #040b11;
$cube-bright-red: #e32929;
$cube-beige: #d6c9b0;
$cube-dark-res: #78020f;
$cube-pink: #db677d;
$cube-light-blue: #79b7e4;
$cube-blue: #036db4;

$median-light-grey: #e5e8eb;
$median-dark-green: #3f4843;
$median-green: #85b680;
$median-dark-grey: #7f9ea8;
$median-brown: #93806f;

$material-bright-red: #d82b32;
$material-green: #48644b;
$material-dark-red: #9f1726;
$material-black: #0f1d1f;
$material-beige: #d2b899;